Приложение для упрощения работы с нейросетью

Верисия питона 3.6
------------------------------------------------------------------------------
lib = keras = 2.8.0
	numpy = 1.19.5
	tensorflow = 2.8.0
	PyQt5 = 5.15.6
	os, sys - системные
	 
Устанавливается с помощью командной строки, либо же терминала в PyCharm-е
>>> pip install [lib == version]
если версия pip устарела:
>>> python -m pip install --upgrade pip
